# Dependencias
node_modules/
package-lock.json

# Build
dist/
build/
.next/

# Ambiente
.env
.env.*
*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporarios
*.tmp
*.swp
